{% macro primary_link_small(path, text) %}
    <a href="{{ path }}"
       class="items-center justify-center px-2 py-1 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
        {{ text }}
    </a>
{% endmacro %}

{% macro plain_link(path, text) %}
    <a href="{{ path }}"
       class="items-center justify-center text-indigo-600 hover:text-indigo-900 underline">
        {{ text }}
    </a>
{% endmacro %}
